/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

// Include parameters from configuration file
includeConfig "$baseDir/conf/params.config"

try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
  standard {
    includeConfig "$projectDir/conf/base.config"
    process.executor = 'local'
    process.conda = "$projectDir/envs/environment.yml" 
    conda.createTimeout = '6 h'
  }
  local {
    includeConfig "$projectDir/conf/base.config"
    process.executor = 'local'
  }
  stub {
    includeConfig "$projectDir/conf/stub.config"
    process.executor = 'local'
  }
  conda { 
    process.conda = "$projectDir/envs/environment.yml" 
    conda.createTimeout = '6 h'
  }
  docker { 
    docker.enabled = true 
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity { 
    singularity.enabled = true
    singularity.autoMounts = true 
    singularity.cacheDir = "./.singularity"
    env {
      JOBLIB_TEMP_FOLDER="${PWD}"
    }
  }
  podman {
    podman.enabled = true
  }
  uge {
    process.executor = 'sge'
    includeConfig "$projectDir/conf/base.config"
    process.memory { 8.GB * task.attempt }
    process.time { 6.hour * task.attempt }
  }   
  eddie {
    includeConfig "$projectDir/conf/eddie.config"
    singularity.enabled = true
    singularity.autoMounts = true 
    singularity.cacheDir = "./.singularity"
    env {
      JOBLIB_TEMP_FOLDER="${PWD}"
    }
  }
  eddie_conda {
    includeConfig "$projectDir/conf/eddie_conda.config"
    process.conda = "$projectDir/envs/environment.yml" 
    conda.createTimeout = '6 h'
    conda.useMamba = params.mamba
  }
  sge {
    process.executor = 'sge'
    process.cpus { 1 * task.attempt }
    process.memory { 8.GB * task.attempt }
    process.time { 6.hour * task.attempt }
  }
  slurm {
    process.executor = 'slurm'
  }
}


// Add reporting configuration
timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/reports/execution_timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/reports/execution_report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/reports/execution_trace.txt"
}
dag {
  enabled = true
  overwrite = true
  file = "${params.outdir}/reports/pipeline_dag.svg"
}


manifest {
  name            = 'evotools/nSPECTRa'
  author          = 'Andrea Talenti'
  homePage        = 'https://github.com/evotools/nSPECTRa'
  description     = 'Nextflow mutation spectra analysis workflow.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=21.04.0'
  version         = '1.1.0'
}