
process {
  withLabel: small{
    cpus = 1
    memory = { 8.GB * task.attempt }
    time = {6.h * task.attempt }
  }
  withLabel: medium{
    cpus = 1
    memory = { 16.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_smallmem_parallel{
    cpus = 2
    memory = { 16.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_mem{
    cpus = 4
    memory = { 64.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_largemem{
    cpus = 4
    memory = { 128.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_vlargemem{
    cpus = 4
    memory = { 512.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_multi{
    cpus = 4
    memory = { 64.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withName: vep{
    cpus = 4
    memory = { 64.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: renv{
    cpus = 1
    memory = { 128.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: renv_multi{
    cpus = 8
    memory = { 128.GB * task.attempt }
    time = { 47.h * task.attempt }
  }
  withName: relate_ne{
    cpus = 32
    memory = { 192.GB * task.attempt }
    time = { 600.h * task.attempt }
  }
  withLabel: renv_large{
    cpus = 1
    memory = { 256.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_onecore{
    cpus = 1
    memory = { 256.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large{
    cpus = 4
    memory = { 128.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_largemem{
    cpus = 4
    memory = { 384.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_smallmem{
    cpus = 8
    memory = { 32.GB * task.attempt }
    time = { 47.h * task.attempt }
  }
  withLabel: large_multimem{
    cpus = 8
    memory = { 64.GB * task.attempt }
    time = { 47.h * task.attempt }
  }
  withLabel: large_long_smallmem{
    cpus = 32
    memory = { 128.GB * task.attempt }
    time = { 200.h * task.attempt }
  }
  withLabel: largemem{
    cpus = 1
    memory = { 64.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: longmem{
    cpus = 1
    memory = { 64.GB * task.attempt }
    time = { 96.h * task.attempt }
  }
  withLabel: compile{
    cpus = 4
    memory = { 16.GB * task.attempt }
    time = {4.h * task.attempt }
  }
  withName: sdm{
    cpus = 1
    memory = { 16.GB * task.attempt }
    time = {23.h * task.attempt }
  }
  withName: phyloP{
    cpus = 8
    memory = { 96.GB * task.attempt }
    time = {47.h * task.attempt }
  }
}
