process {
    withName: hal2maf {
        memory = 8.GB
    }
    withName: beagle {
        memory = 8.GB
    }
    withName: maf2bed {
        memory = 8.GB
    }
    withName: bed2vbed {
        memory = 30.GB
    }
    withName: vep {
        memory = 8.GB
    }
    withName: smile {
        memory = 4.GB
    }
    withName: kmercount {
        memory = 4.GB
    }
    withName: mutyper_full_parallel {
        memory = 4.GB
    }
    withName: mutyper {
        memory = 4.GB
    }
    withName: count_mutations {
        memory = 4.GB
    }
    withName: count_mutations_csq {
        memory = 4.GB
    }
    withName: plot_results {
        memory = 4.GB
    }
    withName: make_ksfs {
        memory = 4.GB
    }
    withName: filter_sdm {
        memory = 4.GB
    }
    withName: count_sdm {
        memory = 4.GB
    }
    withName: sdm_plot {
        memory = 4.GB
    }
}