params {
    // Inputs
    variants = "${projectDir}/test/file.vcf.gz"
    idx = "${projectDir}/test/file.vcf.gz.tbi"
    hal = "${projectDir}/test/bovinae.hal"
    gff = "${projectDir}/test/chr24.gff.gz"
    reference = 'Bbu.GCF_003121395.1'
    target = "Inner2"
    outdir = 'results'
    species = 'bubalus_bubali'
    ref_fasta = false
    pops_folder = null

    // Analyses
    // Ancestral genome
    ancestral_fna = false
    ancestral_only = false
    greedy = false
    // Spectrum
    mutyper = true
    sdm = true
    relate = false
    // Preprocessing
    vep = true
    vcf_is_filtered = false
    imputation = 'beagle'
    shapeit = false
    beagle = false
    gone = false
    refinedibd = false
    mergeibd = false
    compute_ibd = false

    // Settings
    k = '3,5,7'
    ref_min_size = false

    // SDM
    chunk_size = 100000

    // Effective pop size
    neval = false
    ne_subset = 50000
    intergen_time = 28
    mutation_rate = "1.25e-8"

    // Relate settings
    relate_memory = "5"
    relate_bins = "2,6,0.25"

    // Filtering
    min_pop_size = 5
    max_derivate_allele_freq = 0.98
    extract = false
    exclude = false
    mask = false
    imputed = false
    chr_list = false
    coding = false
    noncoding = false
    annotation = false
    poplabels = false

    // Dependencies
    relate_path = false
    beagle_url = "https://faculty.washington.edu/browning/beagle/beagle.28Jun21.220.jar"
    cactus_url = "https://github.com/ComparativeGenomicsToolkit/cactus/releases/download/v2.0.4/cactus-bin-v2.0.4.tar.gz"

    // VEP
    vep_cache = false
    vep_cache_version = null
    rename_hal_sequences = false
    download_cache = false
    no_sift = false
    custom_vep = false
    vep_release_maj = '104'
    vep_release_min = '0'
    vep_container = "ensemblorg/ensembl-vep:release_${params.vep_release_maj}.${params.vep_release_min}"
    vep_distance = 200
    vep_args = null

    // Beagle settings
    refined_ibd_params = 'window=10 trim=0.015 length=0.2 lod=4'
    merge_ibd_params = '1 0.6'
    cactus_version = null

    // Conserved elements detection
    constrained = false

    // Other
    mamba = false
    whatshap = false
    enable_conda = false
    publish_dir_mode = 'copy'
    extra_cluster_options = ''
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    help = false
}

process {
    withName: hal2maf {
        memory = 8.GB
    }
    withName: beagle {
        memory = 8.GB
    }
    withName: maf2bed {
        memory = 8.GB
    }
    withName: bed2vbed {
        memory = { params.greedy ? 30.GB : 16.GB }
    }
    withName: vep {
        memory = 8.GB
    }
    withName: smile {
        memory = 4.GB
    }
    withName: kmercount {
        memory = 4.GB
    }
    withName: mutyper_full_parallel {
        memory = 4.GB
    }
    withName: mutyper {
        memory = 4.GB
    }
    withName: count_mutations {
        memory = 4.GB
    }
    withName: count_mutations_csq {
        memory = 4.GB
    }
    withName: plot_results {
        memory = 4.GB
    }
    withName: make_ksfs {
        memory = 4.GB
    }
    withName: filter_sdm {
        memory = 4.GB
    }
    withName: count_sdm {
        memory = 4.GB
    }
    withName: sdm_plot {
        memory = 4.GB
    }
    withName: halTree {
        memory = 4.GB
    }
    withName: hal4d {
        memory = 4.GB
    }
    withName: phyloFit {
        memory = 4.GB
    }
    withName: make4dmaf {
        memory = 4.GB
    }
    withName: hal_genomes {
        memory = 4.GB
    }
    withName: msa_view {
        memory = 4.GB
    }
    withName: extract_conserved {
        memory = 4.GB
    }
    withName: phyloPtrain {
        memory = 4.GB
    }
    withName: phyloP {
        memory = 4.GB
    }
    withName: combine_bed {
        memory = 4.GB
    }
    withName: combine_csqs {
        memory = 4.GB
    }
    withName: combine_counts {
        memory = 4.GB
    }
    withName: vcf_drop_conserved {
        memory = 4.GB
    }
    withName: relate_format {
        cpus = 4
        memory = 4.GB
    }
    withName: make_relate_map {
        cpus = 4
        memory = 4.GB
    }
    withName: relate {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_ne {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_chr {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_chr_finalise {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_finalise {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_chr_pop {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_chr_pop_mut_finalise {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_avg_mut {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_plot_pop {
        cpus = 4
        memory = 4.GB
    }
}
