process {
    withName: hal2maf {
        memory = 8.GB
    }
    withName: beagle {
        memory = 8.GB
    }
    withName: maf2bed {
        memory = 8.GB
    }
    withName: bed2vbed {
        memory = { params.greedy ? 30.GB : 16.GB }
    }
    withName: vep {
        memory = 8.GB
    }
    withName: smile {
        memory = 4.GB
    }
    withName: kmercount {
        memory = 4.GB
    }
    withName: mutyper_full_parallel {
        memory = 4.GB
    }
    withName: mutyper {
        memory = 4.GB
    }
    withName: count_mutations {
        memory = 4.GB
    }
    withName: count_mutations_csq {
        memory = 4.GB
    }
    withName: plot_results {
        memory = 4.GB
    }
    withName: make_ksfs {
        memory = 4.GB
    }
    withName: filter_sdm {
        memory = 4.GB
    }
    withName: count_sdm {
        memory = 4.GB
    }
    withName: sdm_plot {
        memory = 4.GB
    }
    withName: halTree {
        memory = 4.GB
    }
    withName: hal4d {
        memory = 4.GB
    }
    withName: phyloFit {
        memory = 4.GB
    }
    withName: make4dmaf {
        memory = 4.GB
    }
    withName: hal_genomes {
        memory = 4.GB
    }
    withName: msa_view {
        memory = 4.GB
    }
    withName: extract_conserved {
        memory = 4.GB
    }
    withName: phyloPtrain {
        memory = 4.GB
    }
    withName: phyloP {
        memory = 4.GB
    }
    withName: combine_bed {
        memory = 4.GB
    }
    withName: vcf_drop_conserved {
        memory = 4.GB
    }
    withName: relate_format {
        cpus = 4
        memory = 4.GB
    }
    withName: make_relate_map {
        cpus = 4
        memory = 4.GB
    }
    withName: relate {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_ne {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_chr {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_chr_finalise {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_finalise {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_mut_chr_pop {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_chr_pop_mut_finalise {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_avg_mut {
        cpus = 4
        memory = 4.GB
    }
    withName: relate_plot_pop {
        cpus = 4
        memory = 4.GB
    }
}
