params {
    variants = "file.vcf.gz"
    idx = "file.vcf.gz.tbi"
    hal = 'bovinae.hal'
    ancestral = false
    reference = 'hereford'
    target = "Anc3"
    outdir = 'results' 
    algorithm = 'mutyper'
    imputation = 'shapeit4'
    species = 'bos_taurus'
    k = '3,5,7'
    neval = 10000
    ne_subset = 50000
    intergen_time = 28
    mutation_rate = "1.25e-8"
    min_pop_size = 5
    mask = false
    chr_list = false
    filter = 'n'
    annotation = false
    poplabels = false
    pops_folder = 'PATH'
    relate = false
    shapeit = false
    beagle = false
    vep_cache = false
    gff = false
    download_cache = false
    refinedibd = false
    mergeibd = false
    compute_ibd = false
    refined_ibd_params = 'window=10 trim=0.015 length=0.2 lod=4'
    merge_ibd_params = '1 0.6'
    exon_bed = false
    hal4d = false
    phast = false
    custom_vep = false
    help = false
    scratch = false
    ancestral_only = false
    publish_dir_mode = 'copy'
    cactus_url = "https://github.com/ComparativeGenomicsToolkit/cactus/releases/download/v2.0.3/cactus-bin-v2.0.3.tar.gz"
    extra_cluster_options = ''
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}
