params {
    // Inputs
    variants = null
    idx = null
    hal = null
    gff = false
    reference = null
    target = null
    outdir = 'results'
    species = null
    ref_fasta = false
    pops_folder = null

    // Analyses
    // Ancestral genome
    ancestral_fna = false
    ancestral_only = false
    greedy = false
    // Spectrum
    mutyper = true
    sdm = false
    relate = false
    // Preprocessing
    vep = true
    vcf_is_filtered = false
    imputation = 'shapeit4'
    shapeit = false
    beagle = false
    gone = false
    refinedibd = false
    mergeibd = false
    compute_ibd = false

    // Settings
    k = '3,5,7'
    ref_min_size = false

    // SDM
    chunk_size = 1000000

    // Effective pop size
    neval = false
    ne_subset = 50000
    intergen_time = 28
    mutation_rate = "1.25e-8"

    // Relate settings
    relate_memory = "5"
    relate_bins = "2,6,0.25"

    // Filtering
    min_pop_size = 5
    max_derivate_allele_freq = 0.98
    extract = false
    exclude = false
    mask = false
    imputed = false
    chr_list = false
    coding = false
    noncoding = false
    annotation = false
    poplabels = false

    // Dependencies
    relate_path = null
    beagle_url = "https://faculty.washington.edu/browning/beagle/beagle.28Jun21.220.jar"
    cactus_url = "https://github.com/ComparativeGenomicsToolkit/cactus/releases/download/v2.0.4/cactus-bin-v2.0.4.tar.gz"

    // VEP
    vep_cache = false
    vep_cache_version = null
    rename_hal_sequences = false
    download_cache = false
    no_sift = false
    custom_vep = false
    vep_release_maj = '104'
    vep_release_min = '0'
    vep_container = "ensemblorg/ensembl-vep:release_${params.vep_release_maj}.${params.vep_release_min}"
    vep_distance = 200
    vep_args = null

    // Beagle settings
    refined_ibd_params = 'window=10 trim=0.015 length=0.2 lod=4'
    merge_ibd_params = '1 0.6'
    cactus_version = null

    // Conserved elements detection
    constrained = false
    exon_bed = null

    // Other
    mamba = false
    whatshap = false
    enable_conda = false
    publish_dir_mode = 'copy'
    extra_cluster_options = ''
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    help = false
}
