params {
    variants = "${projectDir}/test/file.vcf.gz"
    idx = "${projectDir}/test/file.vcf.gz.tbi"
    hal = "${projectDir}/test/bovinae.hal"
    ancestral = false
    reference = 'hereford'
    target = "Anc3"
    outdir = 'results'
    mutyper = true
    sdm = false
    relate = false
    imputation = 'shapeit4'
    species = 'bos_taurus'
    k = '3,5,7'
    ref_min_size = false
    neval = false
    ne_subset = 50000
    intergen_time = 28
    mutation_rate = "1.25e-8"
    relate_memory = "5"
    relate_bins = "2,6,0.25"
    min_pop_size = 5
    max_derivate_allele_freq = null
    extract = false
    exclude = false
    mask = false
    vcf_is_filtered = false
    imputed = false
    chr_list = false
    filter = false
    coding = false
    ref_fasta = false
    noncoding = false
    annotation = false
    poplabels = false
    pops_folder = 'PATH'
    relate_path = false
    shapeit = false
    beagle = false
    gone = false
    vep_cache = false
    vep_cache_version = false
    rename_hal_sequences = false
    gff = false
    download_cache = false
    refinedibd = false
    mergeibd = false
    compute_ibd = false
    no_sift = false
    refined_ibd_params = 'window=10 trim=0.015 length=0.2 lod=4'
    merge_ibd_params = '1 0.6'
    exon_bed = false
    cactus_url = "https://github.com/ComparativeGenomicsToolkit/cactus/releases/download/v2.0.4/cactus-bin-v2.0.4.tar.gz"
    beagle_url = "https://faculty.washington.edu/browning/beagle/beagle.28Jun21.220.jar"
    hal4d = false
    phast = false
    custom_vep = false
    mamba = false
    ancestral_only = false
    whatshap = false
    enable_conda = false
    vep_release_maj = '104'
    vep_release_min = '0'
    vep_container = "ensemblorg/ensembl-vep:release_${params.vep_release_maj}.${params.vep_release_min}"
    publish_dir_mode = 'copy'
    extra_cluster_options = ''
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    help = false
}
