params {
    variants = "${projectDir}/test/file.vcf.gz"
    idx = "${projectDir}/test/file.vcf.gz.tbi"
    hal = "${projectDir}/test/bovinae.hal"
    reference = 'hereford'
    ancestral = false
    target = "Anc3"
    outdir = 'results'
    mutyper = true
    sdm = true
    relate = true
    imputation = 'shapeit4'
    species = 'bos_taurus'
    k = '3,5,7'
    neval = 10000
    ne_subset = 50000
    max_derivate_allele_freq = 0.98
    // filter = true
    annotation = false
    pops_folder = "${projectDir}/test/pops/"
    relate_path = "${projectDir}/test/Relate"
    shapeit=false
    beagle=false
    refinedibd=false
    gone=true
    vep_cache="${projectDir}/test/vepcache"
    refined_ibd_params = 'window=10 trim=0.015 length=0.2 lod=4'
    custom_vep=false
    gff='PATH'
    help = false
    publish_dir_mode = 'copy'
    intergen_time = 28
    mutation_rate = "1.25e-8"
    min_pop_size = 2
    extract = false
    exclude = false
    gff = false
    download_cache = false
    refinedibd = false
    mergeibd = false
    compute_ibd = false
    exon_bed = "${projectDir}/test/emptyexons.bed"
    cactus_url = "https://github.com/ComparativeGenomicsToolkit/cactus/releases/download/v2.0.3/cactus-bin-v2.0.3.tar.gz"
    constrained = true
    phast = false
    custom_vep = false
    help = false
    scratch = false
    ancestral_only = false
}


process {   
    cpus = 1   
    memory = '2G'   
    errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }   
    maxRetries = 2 
    maxErrors = '-1'
  
  withLabel: small{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = {6.h * task.attempt }
  }
  withLabel: medium{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_mem{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_largemem{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: medium_multi{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: vep{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withLabel: renv{ 
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: renv_multi{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 47.h * task.attempt }
  }
  withLabel: renv_large{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_onecore{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_largemem{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: large_smallmem{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 47.h * task.attempt }
  }
  withLabel: largemem{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withLabel: compile{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = {4.h * task.attempt }
  }
  withName: sdm{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = {23.h * task.attempt }
  }
  withName: phyloP{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = {47.h * task.attempt }
  }
  withName: makeMaf{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = {95.h * task.attempt }
  }
  withLabel: medium_vlargemem{
    cpus = 1
    memory = { 2.GB * task.attempt }
    time = { 12.h * task.attempt }
  }
  withName: relate_ne{
    cpus = 2
    memory = { 2.GB * task.attempt }
    time = { 200.h * task.attempt }
  }
  withName: mutyper_full_parallel{
    cpus = 2
    memory = { 2.GB * task.attempt }
    time = { 200.h * task.attempt }
  }
  withName: relate{
    cpus = 2
    memory = { 2.GB * task.attempt }
    time = { 200.h * task.attempt }
  }
}
